@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Dosis:wght@200&family=Nunito:wght@300&family=Russo+One&family=Shadows+Into+Light&family=Varela+Round&display=swap");

:root {
	--main-principal-bg: #ffffff;
	--main-secondary-bg: #f2f2f2;
	--textos-destacados: #000000;
	--textos: #576490;
	--textos-titulos-llamativos: #eec170;
	--font-weight-bold: bold;
	--font-weight-100: 100;
	--font-weight-200: 200;
	--font-weight-300: 300;
	--color-btn: #eec170;
	--color-btn-hover: #f1b955;
	--iconos: #2c2a2a;
	--box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	--border-radius-5: 5px;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	font-family: Nunito, sans-serif;
}

header {
	width: 100%;
	height: 80px;
	box-shadow: var(--box-shadow);
	display: flex;
	align-items: center;
	padding: 0 100px;
	justify-content: space-between;
}

.logo {
	border-radius: 50%;
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.logo_2 {
	font-size: 18px;
	font-weight: bold;
	color: var(--textos-destacados);
}
.nav-bar-ul {
	display: flex;
	list-style: none;
}

.nav-bar-ul a {
	display: block;
	font-weight: bold;
	color: var(--textos-destacados);
	padding: 10px 50px;
	border-radius: 50px;
	transition: 0.2s;
	margin: 0 5px;
}

.category {
	display: block;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 75px;
}

.category li {
	list-style: none;
	margin: 10px 0;
}

.category li a {
	background-color: var(--main-principal-bg);
	box-shadow: var(--box-shadow);
	padding: 15px 30px;
	border-radius: var(--border-radius-5);
}

.groups:focus-within > .category {
	visibility: visible;
	opacity: 1;
}

.groups a {
	display: flex;
	align-items: stretch;
}

.groups span {
	margin-left: 5px;
}

.groups span img {
	width: 20px;
}
/* ****************** Main - Filters ******************** */


.section-filters{
	display: flex;
	width: 100%;
	height: 150px;
	align-items: center;
	padding: 0 20px;
	/* border: 1px solid #000; */
	justify-content: space-between;
	margin-bottom: 60px;
}

.filter-prices{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 150px;
}

.filter-price{
	display: flex;
	align-items: center;
}

.filter-price p, .filter-price{
	margin: 0 5px ;
}

.filter-price h5{
	font-size: 16px;
	margin: 0 10px 0 15px;
}

.filter-price input[type="number"]{
	width: 75px;
	height:30px;
	text-align: center;
	border: none;
	background-color: var(--main-secondary-bg);
	border-radius: var(--border-radius-5);
}

.filter-prices input[type="submit"]{
	border: none;
	background-color: var(--color-btn);
	color: #000000;
	cursor: pointer;
	padding: 5px 10px;
	border-radius: var(--border-radius-5);
}


/* ** */
.icon{
	display: flex;
	width: 40px;
	justify-content: center;align-items: center;
	box-shadow: var(--box-shadow);
	background-color: var(--main-secondary-bg);
	border-top-right-radius: var(--border-radius-5);
	border-bottom-right-radius: var(--border-radius-5);
	cursor: pointer;
}


.filter-search{
	display: flex;
	align-items: center;
}

.filter-search input[type="search"]{
	width: 730px;
	border-top-left-radius: var(--border-radius-5);
	border-bottom-left-radius: var(--border-radius-5);
	border:  none;
	box-shadow: var(--box-shadow);
	padding: 8px 20px;
	outline: none;
}

.shopping-cart{
	display: flex;
}

.counter-items-cart{
	border-radius: 100%;
	height: 25px;
	width: 25px;
	position: relative;
	background-color: #000000;
	bottom: 30px;
	left: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
}

.shopping-cart-item svg{
	cursor: pointer;
}

/* ******************  ******************** */


/* ****************** Main - Cards ******************** */

li{
    list-style: none;
}

main {
	margin: 150px 0;
}

#wrapperCards {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	padding: 0 10px;
	justify-content: center;
}

.card {
	width: 220px;
	height: 400px;
	border-radius: 10px;
    color: var(--textos);
    box-shadow: var(--box-shadow);
}

.sectionImg {
	display: flex;
	flex-direction: column;
    padding: 10px;
	align-items: center;
    border-radius: var(--border-radius);
}

.card-img {
    margin-top: 20px;
	width: 150px;
	height: 180px;
	object-fit: cover;
    border-radius: var(--border-radius-5);
    box-shadow: var(--box-shadow);
}

.section-padding {
	width: 90%;
	margin: 0 auto;
	height: 40%;
	font-size: 0.9em;
}

.content-title,
.contentPriceCard {
	margin: 15px 0;
	text-align: center;
}

.contentDescriptionCard {
	line-height: 30px;
	text-align: justify;
}

.section-counter{
    display: flex;
    justify-content: space-around;
}

.section-counter button{
    border: none;
    background-color: var(--main-principal-bg);
    cursor: pointer;
    padding: 5px 8px;
}

.btn-add-to-shopping-cart{
    padding: 5px 10px;
    background-color: #000000;
    cursor: pointer;
    border: none;
    border-radius:var(--border-radius-5);
    color: #ffffff;
}

.section-add-item-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}