@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Dosis:wght@200&family=Nunito:wght@300&family=Russo+One&family=Shadows+Into+Light&family=Varela+Round&display=swap");

:root {
  --main-principal-bg: #ffffff;
  --main-secondary-bg: #f2f2f2;
  --textos-destacados: #000000;
  --textos: #576490;
  --textos-titulos-llamativos: #eec170;
  --font-weight-bold: bold;
  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --color-btn: #eec170;
  --color-btn-hover: #f1b955;
  --iconos: #2c2a2a;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --border-radius-5: 5px;
}

* {
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
}

h2{
   font-size: 1.6em;
   color: var(--textos-titulos-llamativos);
   font-weight: var(--font-weight-300);
}

header{
  width: 100%;
  height: 80px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-5);
  display: flex;
  align-items: center;
  padding: 0 100px;
  justify-content: space-between;
}

.logo {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logo_2 {
  font-size: 18px;
  font-weight: bold;
  color: var(--textos-destacados);
}
.nav-bar-ul {
  display: flex;
  list-style: none;
}

.nav-bar-ul a {
  display: block;
  font-weight: bold;
  color: var(--textos-destacados);
  padding: 10px 50px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.category {
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 75px;
}

.category li {
  list-style: none;
  margin: 10px 0;
}

.category li a {
  background-color: var(--main-principal-bg);
  box-shadow: var(--box-shadow);
  padding: 15px 30px;
  border-radius: var(--border-radius-5);
}

.groups:focus-within > .category {
  visibility: visible;
  opacity: 1;
}

.groups a {
  display: flex;
  align-items: stretch;
}

.groups span {
  margin-left: 5px;
}

.groups span img {
  width: 20px;
}

/*   */

.section-unas {
    background-color: var(--main-principal-bg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .container-unas {
    display: flex;
    padding: 80px 10px 40px;
    font-weight: var(--font-weight-bold);
  }
  
  .content-info {
    width: 50%;
    padding: 20px;
    background-color: #f8fafb;
    border-radius: var(--border-radius-5);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  p{
    color: #576490;
    text-align: center;
    display: block;
    margin: auto;
  }

  .btn {
    padding: 8px 15px;
    border-radius: var(--border-radius-5);
    border: none;
    font-size: 0.8em;
    background: var(--color-btn);
    box-shadow: var(--box-shadow);
    display: block;
    margin: auto;
  }

  .btn:hover{
    background: var(--color-btn-hover);
  }
  
  .content-unas-img {
    width: 50%;
    height: 550px;
    padding: 20px;
    background-color: var(--main-principal-bg);
    border-radius: var(--border-radius-5);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  

  .content-unas-img img{
    width: 350px;
    height: 350px;
    display: block;
    margin: auto;
    border-radius: var(--border-radius-5);
    box-shadow: var(--box-shadow);
  }

  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .line {
    width: 30%;
    height: 10px;
    background-color: var(--main-principal-bg);
    border-radius: var(--border-radius-5);
    box-shadow: var(--box-shadow);
  }

  .title-section {
    width: 320px;
    text-align: center;
    padding: 25px 10px;
    border-radius: var(--border-radius-5);
    background-color: var(--main-principal-bg);
    box-shadow: var(--box-shadow);
}

.space{
  padding: 50px;
}