@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

:root {
	--main-principal-bg: #ffffff;
	--main-secondary-bg: #f4f4f4;
	--bgc-transparent-white: #ffffffbf;
	--textos-destacados: #000000;
	--bgc-comprar: #ebefff;
	--textos: #576490;
	--btn-buy: #3554be;
	--textos-titulos-llamativos: #eec170;
	--font-weight-bold: bold;
	--font-weight-100: 100;
	--font-weight-200: 200;
	--font-weight-300: 300;
	--color-btn: #c49f5b;
	--color-btn-hover: #d8a245;
	--box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	--box-shadow-hover: rgba(207, 205, 205, 0.2) 0px 2px 8px 0px;
	--border-radius-5: 5px;
	--border-radius-10: 10px;
	--border-radius-100: 100%;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	font-family: Nunito, sans-serif;
	object-fit: cover;
}

body {
	background-color: var(--main-secondary-bg);
}

.header-section {
	width: 100%;
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title-section {
	text-align: center;
	padding: 25px 80px;
	border-radius: var(--border-radius-5);
	background-color: var(--main-principal-bg);
	box-shadow: var(--box-shadow);
}

.title-section h3 {
	font-size: 1.1em;
	color: var(--textos-titulos-llamativos);
	font-weight: var(--font-weight-bold);
}

.line {
	width: 30%;
	height: 10px;
	background-color: var(--main-principal-bg);
	box-shadow: var(--box-shadow);
}

.container-box {
	margin: 35px auto;
	display: flex;
	width: 100%;
	max-width: 1920px;
	padding: 20px;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	flex-direction: row-reverse;
}

.content1,
.content2 {
	background-color: var(--main-principal-bg);
	border-radius: var(--border-radius-5);
	box-shadow: var(--box-shadow);
	height: 1080px;
	width: 100%;
	max-width: 840px;
	min-width: 280px;
	padding: 15px;
}

.content1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	text-wrap: balance;
	color: var(--textos);
	font-size: 16px;
	line-height: 35px;
}

.content1 img {
	width: 100%;
	max-width: 400px;
	min-width: 230px;
	max-height: 400px;
	min-height: 280px;
	border-radius: var(--border-radius-5);
	box-shadow: var(--box-shadow);
}

#formOpiniones {
	display: flex;
	height: 100%;
	justify-content: space-between;
	flex-direction: column;
	/* padding: 10px; */
}

.content-input {
	display: flex;
	flex-direction: column;
	margin: 10px 0;
}

label {
	color: var(--textos);
	margin: 10px 0 15px;
}

input[type="text"],
input[type="email"] {
	padding: 10px;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid #ccc;
	outline: none;
}

.container-photo {
	display: flex;
	height: 150px;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 20px;
}

input[type="file"] {
	display: none;
}

.input-photo {
	cursor: pointer;
	display: flex;
	justify-content: center;
	background-color: var(--main-principal-bg);
	box-shadow: var(--box-shadow);
	color: var(--color-btn);
	border-radius: var(--border-radius-5);
	padding: 10px;
}

.input-photo:hover {
	box-shadow: rgba(207, 205, 205, 0.2) 0px 2px 8px 0px;
}

#previewPhoto {
	height: 80px;
	border-radius: 100%;
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #ccc;
}

#previewPhoto img {
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 100%;
}

.stars-range {
	display: flex;
	margin: 20px;
	justify-content: space-evenly;
}

.stars-range div svg polygon {
	cursor: pointer;
}

.stars-range div svg polygon:hover {
	fill: #f1b955;
}

textarea {
	resize: none;
	font-size: 16px;
	border-top-left-radius: var(--border-radius-5);
	border-top-right-radius: var(--border-radius-5);
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: none;
	outline: none;
	padding: 10px;
}

.container-maxlength {
	display: flex;
	padding-right: 10px;
	color: #ccc;
	border-bottom-right-radius: var(--border-radius-5);
	border-bottom-left-radius: var(--border-radius-5);
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	width: 100%;
	justify-content: flex-end;
}

.content-submit {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.content-submit input {
	padding: 10px 80px;
	font-size: 20px;
	border: none;
	background-color: var(--btn-buy);
	color: var(--bgc-comprar);
	border-radius: var(--border-radius-5);
	cursor: pointer;
}

.filled {
	fill: #eec170;
}

.check-success {
	width: 100%;
	background-color: #58b204;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content-modal {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-btn-hover);
	font-size: 16px;
	box-shadow: var(--box-shadow);
	z-index: 1;
	background-color: transparent;
	backdrop-filter: blur(10px);
	padding: 10px;
	width: 620px;
	height: 1050px;
}

#modal-msg {
	max-height: 400px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: var(--box-shadow);
	text-align: center;
	border-radius: var(--border-radius-5);
	min-height: 200px;
	width: 100%;
	padding: 10px;
	max-width: 400px;
	min-width: 200px;
}

.hidden {
	display: none;
}

@media (max-width: 1730px) {
	.content1,
	.content2 {
		max-width: 650px;
	}
}

@media (max-width: 1380px) {
	.content1,
	.content2 {
		max-width: 520px;
	}

	.content-modal {
		width: 490px;
	}
}

@media (max-width: 1100px) {
	.container-box {
		flex-direction: column;
	}

	.content1,
	.content2 {
		max-width: 100%;
		margin: 30px 0;
	}

	.content-modal {
		background-color: transparent;
		width: 93vw;
		height: 1070px;
		left: 36px;
	}
}

@media (max-width: 768px) {
	.container-box {
		flex-direction: row-reverse;
	}

	.content-modal {
		width: 90vw;
		left: 28px;
	}
}


@media (max-width: 450px) {
	.content-modal {
		background-color: transparent;
		width: 89vw;
		left: 22px;
	}
}
