@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Dosis:wght@200&family=Nunito:wght@300&family=Russo+One&family=Shadows+Into+Light&family=Varela+Round&display=swap");

:root {
	--main-principal-bg: #ffffff;
	--main-secondary-bg: #f2f2f2;
	--bgc-transparent-white: #ffffffbf;
	--textos-destacados: #000000;
	--bgc-comprar: #ebefff;
	--textos: #576490;
	--btn-buy: #3554be;
	--textos-titulos-llamativos: #eec170;
	--font-weight-bold: bold;
	--font-weight-100: 100;
	--font-weight-200: 200;
	--font-weight-300: 300;
	--color-btn: #eec170;
	--color-btn-hover: #f1b955;
	--iconos: #2c2a2a;
	--box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	--border-radius-5: 5px;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Nunito, sans-serif;
}

main {
	display: flex;
	width: 100%;
	border: 1px solid #000;
	padding: 0 10px;
	justify-content: space-between;
	align-items: center;
}

.content1,
.content2 {
	border: 1px solid #ccc;
	height: 800px;
	width: 50%;
}

#formOpiniones {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

label{
  color: var(--textos);
}

input[type="text"],
input[type="email"] {
	padding: 10px;
	border: none;
	border-bottom: 1px solid #ccc;
	border-radius: var(--border-radius-5);
  outline: none;
}

.container-photo{
	display: flex;
	height: 200px;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 20px;
}

input[type="file"]{
	display: none;
}

.input-photo{
	cursor: pointer;
	width: 200px;
	display: flex;
	justify-content: center;
	background-color: #3554be;
	color: #fff;
	border-radius:var(--border-radius-5) ;
	padding: 10px;
}

#previewPhoto{
	height: 80px;
	border-radius: 100%;
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #ccc;
}

#previewPhoto img{
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 100%;
}

.stars-range {
	display: flex;
	justify-content: space-evenly;
}

.stars-range div svg polygon{
	cursor: pointer;
}

.stars-range div svg polygon:hover{
	fill: #f1b955;
}

textarea {
	resize: none;
	border-radius: var(--border-radius-5);
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
  border-bottom: none;
  outline: none;
  padding: 10px;
}

.container-maxlength{
  display: flex;
  padding-right: 10px;
  color: #ccc;
  border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
  width: 100%;
  justify-content: flex-end;
}

.content-submit{
  width:100%;
  display: flex;
  justify-content: center;
  margin-top:40px;
}

.content-submit input{
  padding: 8px 30px;
  border: none;
  background-color: var(--btn-buy);
  color: var(--bgc-comprar);
  border-radius: var(--border-radius-5);
  cursor: pointer;
}