*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
    text-decoration: none;
}


:root {
    --main-principal-bg: #ffffff;
    --main-secondary-bg: #f2f2f2;
    --textos-destacados: #000000;
    --textos: #576490;
    --textos-titulos-llamativos: #eec170;
    --font-weight-bold: bold;
    --font-weight-100: 100;
    --font-weight-200: 200;
    --font-weight-300: 300;
    --color-btn: #eec170;
    --color-btn-hover: #f1b955;
    --iconos: #2c2a2a;
    --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --border-radius-5: 5px;
  }

/*CONTENEDOR PRINCIPAL*/

.main-hairstyles{
    width: 100%;
    margin: auto;
}

.category-container{
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    margin-bottom: 2.5rem;
}

/*LISTA DE GÉNEROS*/

.hidden{
    display: none;
}

.category-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 3.125rem;
}

.category-list .category-gender{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #fff;
    color: var(--textos-destacados);
    border-radius: 10px;
    padding: .625rem;
    font-size: 1.125rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.category-list .category-gender img{
    width: 1.5625rem;
    margin-right: .9375rem;
}

.category-list .category-gender-active{
    box-shadow: none;
    outline: 2px solid #000000;
}

.select-gender{
    font-weight: var(--font-weight-bold);
    font-size: 1.5rem;
}

/*LISTA DE SUBGÉNEROS (CABELLO-BARBA)*/

.subcategory-list{
    width: 100%;
    display: flex;
    border-radius: 20px;
    margin-bottom: 3.125rem;
    background-color: #5B3924;
    display: flex;
    flex-direction: column;
}

.subcategory-list-group{
    width: 100%;
    display: flex;
    justify-content: center;
}

.subcategory-list .subcategory-gender{
    width: 20%;
    height: 40%;
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #fff;
    color: #5B3924;
    border-radius: 20px;
    padding: 10px;
}

.subcategory-list .subcategory-gender-shadow:hover{
    box-shadow: 0px 0px 20px 0px rgb(255, 255, 255);
}

.subcategory-list .subcategory-gender img{
    width: 35px;
    height: 50px;
    margin-right: 15px;
}

.subcategory-list .subcategory-gender-active{
    box-shadow: 0px 0px 10px 8px #CDA434;
}

/*TITULO*/
.main-hairstyles h1{
    font-size: 1.375rem;
    color: var(--textos-titulos-llamativos);
    text-align: center;
    margin-bottom: 6.25rem;
}

.options-filter{
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 3.125rem;
}

.ages-filter{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0%, -50%);
    font-size: 1.125rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.hairstyle-options{
    font-size: 1.375rem;
    color: var(--textos-titulos-llamativos);
    font-weight: var(--font-weight-bold);
    text-align: center;
}

/*SWIPER*/

.age-category{
    overflow-x: hidden;
    box-shadow: var(--box-shadow);
    padding: 1.25rem 0px;
    margin-bottom: 3.125rem;
}

.age{
    margin-left: 30px;
    font-size: 1.125rem;
    font-weight: 500;
}

.swiper-wrapper .swiper-slide{
    display: flex;
    justify-content: center;
}

.swiper-hairstyles{
    position: relative;
    padding: 3.125rem 0px 4.375rem 0px;
}

.swiper-hairstyles .swiper-button-prev, .swiper-hairstyles .swiper-button-next{
    --swiper-navigation-size: 1.25rem;
    color: var(--main-principal-bg);
    background-color: #000000;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5px;
    margin-top: -1.25rem;
    position: absolute;
}

.swiper-hairstyles .swiper-pagination{
    --swiper-pagination-color: var(--color-btn);
    position: absolute;
}

/*LISTA DE CORTES*/

.hairstyles-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: transparent;
    border-radius: 20px;
    margin-bottom: 3.125rem;
    gap: 1.875rem;
}

.hairstyle-file{
    width: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    border-radius: 10px;
    padding: 2.5rem 1.875rem;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.hairstyle-image{
    width: 100%;;
    position: relative;
    overflow: hidden;
}

.hairstyle-img{
    width: 100%;
    border-radius: 5px;
}

.hairstyle-file h4{
    color: #000000;
    font-size: 1.125rem;
    font-weight: var(--font-weight-bold);
    text-align: center;
}

.hairstyle-file p{
    color: var(--textos);
    font-size: 1.125rem;
    font-weight: var(--font-weight-bold);
    text-align: center;
}