* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
  text-decoration: none;
}

:root {
  --main-principal-bg: #ffffff;
  --main-secondary-bg: #f2f2f2;
  --textos-destacados: #000000;
  --textos: #576490;
  --textos-titulos-llamativos: #eec170;
  --font-weight-bold: bold;
  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --color-btn: #eec170;
  --color-btn-hover: #f1b955;
  --iconos: #2c2a2a;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --border-radius-5: 5px;
}

/*CONTENEDOR PRINCIPAL*/

.main-hairstyles {
  width: 100%;
  margin: auto;
}

.category-container {
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  margin-top: 80px;
  margin-bottom: 2.5rem;
}

/*LISTA DE GÉNEROS*/

.hidden {
  display: none;
}

.category-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 3.125rem;
}

.category-list .category-gender {
  width: 12.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #fff;
  color: var(--textos-destacados);
  border-radius: 10px;
  padding: 0.625rem;
  font-size: 1.125rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.category-list .category-gender img {
  width: 1.5625rem;
  margin-right: 0.9375rem;
}

.category-list .category-gender-active {
  box-shadow: none;
  outline: 2px solid #000000;
  background-color: #000000;
  color: #fff;
}

.category-list .category-gender-active img {
  filter: invert(1);
}

.select-gender {
  font-weight: 700;
  font-size: 1.5rem;
}

/*TITULO*/
.main-hairstyles h1 {
  font-size: 1.75rem;
  color: var(--textos-titulos-llamativos);
  text-align: center;
  margin-bottom: 6.25rem;
}

.options-filter {
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 3.125rem;
}

.ages-filter {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translate(0%, -50%);
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  border: none;
  cursor: pointer;
}

.hairstyle-options {
  font-size: 1.375rem;
  color: var(--textos-titulos-llamativos);
  font-weight: 700;
  text-align: center;
}

/*SWIPER*/

.age-category {
  overflow-x: hidden;
  box-shadow: var(--box-shadow);
  padding: 1.25rem 0px;
  margin-bottom: 3.125rem;
}

.age {
  margin-left: 30px;
  font-size: 1.125rem;
  font-weight: 500;
}

.swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-slide{
  height: auto !important;
}

.swiper-hairstyles {
  position: relative;
  padding: 3.125rem 0px 4.375rem 0px;
}

.swiper-hairstyles .swiper-button-prev,
.swiper-hairstyles .swiper-button-next {
  --swiper-navigation-size: 1.25rem;
  color: var(--main-principal-bg);
  background-color: #000000;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
  margin-top: -1.25rem;
  position: absolute;
}

.swiper-hairstyles .swiper-pagination {
  --swiper-pagination-color: var(--color-btn);
  position: absolute;
}

.swiper-scrollbar {
  display: none;
}

.swiper-scrollbar-drag {
  background: var(--color-btn) !important;
}

/*LISTA DE CORTES*/

.hairstyles-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: transparent;
  border-radius: 20px;
  margin-bottom: 3.125rem;
  gap: 1.875rem;
}

.hairstyle-file {
  width: 60%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  border-radius: 10px;
  padding: 2.5rem 1.875rem;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.hairstyle-image {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.hairstyle-img {
  width: 100%;
  border-radius: 5px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.hairstyle-file h4 {
  color: #000000;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
}

.hairstyle-file p {
  color: var(--textos);
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
}

.gallery-type:has(:checked) {
  --rows: 1fr;
  --opacity-gallery: 1;
  --rotate-icon: rotate(0deg);
}

.gallery-hairstyles {
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
}

.gallery-hairstyles > p {
  font-size: 1.375rem;
  font-weight: bold;
  color: var(--textos-titulos-llamativos);
  text-align: center;
  margin-bottom: 3.125rem;
}

.hairstyle-type {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
  margin: 0 auto;
  cursor: pointer;
  padding: 15px 0px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  transition: all 300ms ease;
  position: relative;
}

.hairstyle-type:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.hairstyle-type h3 {
  text-align: center;
}

.hairstyle-type img {
  width: 28px;
  transform: var(--rotate-icon, rotate(-90deg));
  transition: 300ms transform ease;
}

.gallery-container {
  display: grid;
  grid-template-rows: var(--rows, 0fr);
  gap: 3.125rem;
  padding: 1.25rem;
  justify-content: center;
  transition: 0.5s grid-template-rows;
}

.hairstyle-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 2.5rem 1.875rem;
}

.hairstyle-card-img {
  width: 100%;
  border-radius: 5px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.hairstyle-card-text {
  color: var(--textos);
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
}

.hairstyle-card-name {
  font-size: 1.125rem;
  text-align: center;
}

.checkbox-gallery {
  display: block;
  position: absolute;
  inset: 0 0 0 0;
  cursor: pointer;
  opacity: 0;
}

.gallery-list {
  display: flex;
  flex-flow: row wrap;
  gap: 3.125rem;
  padding: 1.25rem;
  justify-content: center;
  overflow: hidden;
  opacity: var(--opacity-gallery, 0);
  transition: 300ms opacity ease;
}

.gallery-list li {
  display: block;
  width: 20%;
}

@media screen and (max-width: 1080px) {
  * {
    font-size: 15px;
  }

  .category-list .category-gender {
    font-size: 1rem;
  }

  .main-info {
    padding: 0px 20px;
  }

  .hairstyle-file {
    width: 65%;
    padding: 1.875rem 1.25rem;
  }

  .gallery-list {
    gap: 2rem;
  }

  .gallery-list li {
    width: 30%;
  }
}

@media screen and (max-width: 868px) {
  .category-list .category-gender {
    width: 10rem;
  }

  .hairstyle-file {
    width: 90%;
  }

  .swiper-hairstyles .swiper-button-prev,
  .swiper-hairstyles .swiper-button-next,
  .swiper-hairstyles .swiper-pagination {
    display: none;
  }

  .swiper-scrollbar {
    display: block;
  }

  .main-hairstyles h1 {
    margin-bottom: 3.125rem;
  }

  .gallery-hairstyles {
    box-shadow: none;
  }

  .options-filter {
    flex-wrap: wrap;
    gap: 1.25rem;
  }

  .ages-filter {
    position: relative;
    inset: 0 0 0 0;
    transform: none;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
  }

  .hairstyle-options {
    width: 100%;
  }
}

@media screen and (max-width: 675px) {
  .gallery-list li {
    width: 40%;
  }

  .category-list {
    flex-wrap: wrap;
  }

  .select-gender {
    order: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 1.25rem;
  }

  .category-gender:nth-of-type(1) {
    order: 1;
  }

  .category-gender:nth-of-type(2) {
    order: 2;
  }

  .gallery-container {
    padding: 1.25rem 0rem;
  }
}

@media screen and (max-width: 576px) {
  .gallery-list {
    padding: 1.25rem 0.125rem;
    gap: 0.675rem;
  }

  .gallery-list li {
    width: 45%;
  }

  .hairstyle-card {
    padding: 1.875rem 1.25rem;
  }
}

@media screen and (max-width: 420px) {
  .category-list {
    flex-direction: column;
    gap: 20px;
  }

  .select-gender {
    margin-bottom: 0rem;
  }
}
