.static{
    overflow: hidden;
}

.content-hide{
  display: none;
}

.container-preloader{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #575757;
  }
  
  .pole-top, .bottom::after, .top::after {
    width: 80px;
    height: 30px;
    position: absolute;
    content: "";
  }
  
  .default-border, .bottom::before, .bottom, .cilinder, .top::before, .pole-top, .bottom::after, .top::after {
    border: 4px solid #333;
  }
  
  .shadow, .bottom::before, .bottom, .top::before, .top {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 15%, transparent 20%, transparent 85%, rgba(0, 0, 0, 0.1) 95%, rgba(0, 0, 0, 0.1) 100%);
  }
  
  .shadow-radial, .top::after {
    background: radial-gradient(50px at 55% 75%, transparent 15%, transparent 50%, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0.1) 100%);
  }
  
  .shadow-radial-inverted, .bottom::after {
    background: radial-gradient(50px at 55% 25%, transparent 15%, transparent 50%, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0.1) 100%);
  }
  
  .pole {
    margin: auto;
  }
  
  .top {
    position: relative;
    border: 4px solid #222;
    border-top: 0;
    width: 90px;
    top: 5px;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    z-index: 5;
  }
  .top::before {
    position: absolute;
    width: 100px;
    height: 10px;
    top: -15px;
    left: -8px;
    background-color: white;
    border-radius: 5px;
    content: "";
  }
  .top::after {
    top: -49px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom: 0;
    background-color: white;
  }
  
  .cilinder {
    margin: auto;
    height: 231px;
    width: 70px;
    background: linear-gradient(to right, #FFF 0%, #FFF 5%, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.1) 35%, rgba(211, 211, 211, 0.1) 45%, rgba(211, 211, 211, 0.1) 60%, rgba(255, 255, 255, 0.6) 60%, rgba(255, 255, 255, 0.6) 80%, rgba(211, 211, 211, 0.1) 80%, rgba(211, 211, 211, 0.1) 95%, #FFF 95%, #FFF 100%), repeating-linear-gradient(-30deg, #1752d3, #1752d3 25px, white 25px, white 50px, red 50px, red 75px, white 75px, white 100px);
    padding: 0 5px;
    animation: barber 2.5s linear infinite;
    border-radius: 2px;
    position: relative;
  }
  
  .bottom {
    position: relative;
    border-bottom: 0;
    width: 90px;
    bottom: 5px;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    z-index: 5;
  }
  .bottom::before {
    position: absolute;
    width: 100px;
    height: 15px;
    bottom: -20px;
    left: -8px;
    background-color: white;
    border-radius: 5px;
    content: "";
  }
  .bottom::after {
    bottom: -54px;
    border-top: 0;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: white;
  }
  
  @keyframes barber {
    from {
      background-position-y: 0px;
    }
    to {
      background-position-y: 231px;
    }
  }

  .loader {
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: 120px;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
  }
  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
  }